.swiper {
  width: 100%;
  margin-top: 50px;
  height: 40vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.swiper-slide:active {
  cursor: grabbing;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
}
